@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500;600&family=Source+Code+Pro:wght@300;400;500;600&display=swap');

/* Config variables */
@import 'config';

@import 'starships';

h1 {
	font-family: $primary-font;
	font-weight: 600;
	letter-spacing: 0.2rem;
	margin: 2rem 0 1rem;
}

html {
	background-color: $color-background;
}

.return-btn {
	background-color: black;
}

#App {
	background-color: $color-background;
	color: $color-white;
	min-height: 100vh;
}

